.editTeamsBtn {
    background-color: cornflowerblue;
    display: inline-block;
    border: 0;
    color: #FFF;
    width: 100%;
    padding: 1em;
    font-size: 1em;
    /* text-transform: uppercase; */
    border-radius: 0.5em;
    cursor: pointer;
    span {
        float: left;
        padding: 1em;
        text-transform: uppercase;
    }
    i {
        float: left;
        padding: 0.2em;
    }
}