 <form [formGroup]="teamForm" (ngSubmit)="updateTeam(teamForm)">
  <div formArrayName="playersDetailsForm">
    <div *ngFor="let player of teamForm.get('playersDetailsForm').controls; let i = index">
      <div [formGroupName]="i">
        <input type="hidden" formControlName="_id" />

        <h2>General Team Info:</h2>
        <ul>
          <li class="inputQuestion">
            <label for="team">Team:</label>
            <input type="text" formControlName="team" />
            <div [hidden]="teamForm.controls.playersDetailsForm.controls[i].controls.team.valid" class="inlineError">
              Required Team
            </div>
          </li>

          <li class="inputQuestion">
            <label for="city">City:</label>
            <input type="text" formControlName="city" />
            <div [hidden]="teamForm.controls.playersDetailsForm.controls[i].controls.city.valid" class="inlineError">
              Required City
            </div>
          </li>
          
          <li class="inputQuestion">
            <label for="championships">championships:</label>
            <input type="text" formControlName="championships" />
            <div [hidden]="teamForm.controls.playersDetailsForm.controls[i].controls.championships.valid" class="inlineError">
              Required championships
            </div>
          </li>

          <!-- Nested Players Array -->
          <div formArrayName="players">
              <div *ngFor="let project of player.get('players').controls; let j=index">
                <h4>{{name}}</h4>
                <div [formGroupName]="j">

                  <li class="inputQuestion">
                    <label for="name">Name:</label>
                    <input formControlName="name" />
                  </li>

                  <li class="inputQuestion">
                    <label for="teamNum">Team Number:</label>
                    <input formControlName="teamNum" />
                  </li>

                  <li class="inputQuestion">
                    <label for="position">Position:</label>
                    <input formControlName="position" />
                  </li>
                  
                </div>
              </div>
            </div>
          <li class="noPad">
            <button type="submit" class="editTeamsBtn">Submit Changes</button>
          </li>
        </ul>
      </div>
    </div>
  </div><!-- end playersDetailsForm array -->
</form>