 <form [formGroup]="teamForm" (ngSubmit)="updateTeam()">
  <div formArrayName="playersDetailsForm">
    <div *ngFor="let player of teamForm.get('playersDetailsForm').controls; let i = index">
      <div [formGroupName]="i">
        <input type="hidden" formControlName="_id" />

        <h2>General Team Info:</h2>
        <ul>
          <li class="inputQuestion">
            <label for="team">Team:</label>
            <input type="text" formControlName="team" />
          </li>

          <li class="inputQuestion">
            <label for="city">City:</label>
            <input type="text" formControlName="city" />
            <div [hidden]="teamForm.controls.playersDetailsForm.controls[i].controls.city.valid" class="inlineError">
              Required City
            </div>
          </li>

          <li class="inputQuestion">
            <label for="stateAbbr">State abbreviation:</label>
            <input type="text" formControlName="stateAbbr" />
            <div [hidden]="teamForm.controls.playersDetailsForm.controls[i].controls.stateAbbr.valid" class="inlineError">
              Required state abbreviation
            </div>
          </li>
          
          <li class="inputQuestion">
            <label for="history">History:</label>
            <input type="text" formControlName="history" />
            <div [hidden]="teamForm.controls.playersDetailsForm.controls[i].controls.history.valid" class="inlineError">
              Required History
            </div>
          </li>

          {{error}}

          <li class="inputQuestion">
              <label for="state">Team Status:</label>
              <input type="text" formControlName="state" />
              <div [hidden]="teamForm.controls.playersDetailsForm.controls[i].controls.state.valid" class="inlineError">
                Required Team Status
              </div>
            </li>

          <li class="inputQuestion">
            <label for="arena">Arena:</label>
            <input type="text" formControlName="arena" />
            <div [hidden]="teamForm.controls.playersDetailsForm.controls[i].controls.arena.valid" class="inlineError">
              Required Arena
            </div>
          </li>

          <h2>Players:</h2>

          <!-- Nested Players Array -->
          <div formArrayName="players">
              <div *ngFor="let project of player.get('players').controls; let j=index">
                <h4>{{name}}</h4>
                <div [formGroupName]="j">

                  <li class="inputQuestion">
                    <label for="name">Name:</label>
                    <input formControlName="name" />
                  </li>

                  <li class="inputQuestion">
                    <label for="teamNum">Team Number:</label>
                    <input formControlName="teamNum" />
                  </li>

                  <li class="inputQuestion">
                    <label for="position">Position:</label>
                    <input formControlName="position" />
                  </li>
                  
                </div>
              </div>
            </div>
          <li>
            <button type="submit" [disabled]="!teamForm.valid" class="editTeamsBtn">Submit Changes</button>
          </li>
        </ul>
      </div>
    </div>
  </div><!-- end playersDetailsForm array -->
</form>