.right {
  float: right;
}
.teamNum {
  font-weight: 600;
  padding: 0;
  margin: 0;
  font-size: 1.3em;
  display: inline-block;
}

button.btnB {
    background: #449663;
    padding: 1em;
    color: white;
    border: 0;
    cursor: pointer;
}
button.btnB:hover {
    opacity: 0.9;
    transition: 0.2s;
}
.editBtn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  i {
    font-size: 0.8em;
    padding: 0;
    margin: 0;
    background: #FFF;
    border-radius: 50%;
    padding: 0.2em;
    margin-left: 0.5em;
    color: gray;
    display: inline-block;
    height: 1em;
    width: 1em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}

.editPlayer {
  background: #FFF;
  padding: 0.5em;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
}

@media screen and (min-width: 736px) {
  button.btnB {
    margin: 0 2em;
  }
}
