<nav>
  <ul>
    <li>
      <a href="">
          <span>{{greetMessage}}</span>
      </a>
    </li>
    <li>
      <a routerLink="" routerLinkActive="active">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li *ngIf="_authService.loggedIn()">
      <a routerLink="sports" routerLinkActive="active">
        <i class="material-icons">list_alt</i>
      </a>
    </li>
    <li *ngIf="!_authService.loggedIn()">
      <a routerLink="login" routerLinkActive="active">
        <i class="material-icons">lock</i>
      </a>
    </li>
    <li *ngIf="!_authService.loggedIn()">
      <a routerLink="register" routerLinkActive="active">
        <i class="material-icons">person_add</i>
      </a>
    </li>
    <li *ngIf="_authService.loggedIn()" (click)="logOut()">
      <a routerLink="">
        <i class="material-icons">lock_open</i>
      </a>
    </li>
  </ul>
</nav>
