<div class="container" [hidden]="submitted">
    <h1>{{pageTitle}}</h1>
    <form #teamForm="ngForm" (ngSubmit)="onSubmit(teamForm)">
      <div class="form-group">
        <label for="team">Team</label>
        <input type="text" class="form-control" id="team"
               required
               [(ngModel)]="model.team" name="team"
               #team="ngModel"
               minlength="2">

         <div *ngIf="team.invalid && (team.dirty || team.touched)"
             class="alert alert-danger">

           <div *ngIf="team.errors.required">
             Team is required.
           </div>
           <div *ngIf="team.errors.minlength">
             Team must be at least 4 characters long.
           </div>
         </div>
      </div>

      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city"
               required
               [(ngModel)]="model.city" name="city"
               #city="ngModel"
               minlength="2" placeholder="Minnesota">

         <div *ngIf="city.invalid && (city.dirty || city.touched)"
             class="alert alert-danger">

           <div *ngIf="city.errors.required">
             City is required.
           </div>
           <div *ngIf="city.errors.minlength">
             City must be at least 2 characters long.
           </div>
         </div>
      </div>

      <div class="form-group">
        <label for="championships">Championships</label>
        <input type="text" class="form-control" id="championships"
               required
               [(ngModel)]="model.championships" name="championships"
               #championships="ngModel"
               minlength="2" placeholder="MN">

         <div *ngIf="championships.invalid && (championships.dirty || championships.touched)"
             class="alert alert-danger">

           <div *ngIf="championships.errors.required">
             Championships is required.
           </div>
           <div *ngIf="championships.errors.minlength">
             Championships must be at least 2 characters long.
           </div>
         </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!teamForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="newTeam(); teamForm.reset()">Start Over</button>
    </form>
</div>

<div [hidden]="!submitted">
  <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Team</div>
    <div class="col-xs-9  pull-left">{{ model.team }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">City</div>
    <div class="col-xs-9  pull-left">{{ model.city }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Championships</div>
    <div class="col-xs-9 pull-left">{{ model.championships }}</div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Edit</button>
</div>
